@charset "UTF-8";

/* 
=====================
基本設定
=====================
*/

* {
    outline: none!important;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

p {
    color: #333;
    font-size: 14px;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}


ul, li {
    list-style-type: none;
    font-size: 18px;
}


/* 
=====================
ヘッダー
=====================
*/

header {
    height: 100px;
    /* background:linear-gradient(90deg, #530710,#8b0000, #9c0743, #c71585, #c71585, #9c0743,#8b0000, #530710); */
    background-image: url(../../images/bkgcolor.png);
    background-size: cover;
    background-position: center;
}

.header-content {
    max-width: 810px;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-log {
    width: 30%;
}

.header-log img {
    width: 100%;
    object-fit: contain;
}

.header-access {
    display: none;
}


.header-access-pc h1 {
    font-size: 20px;
    color: white;
    font-weight: normal;
    padding: 5px 0;
}


.header-tell {
    display: flex;
}

.header-tell a {
    transition: 0.4s;
}

.header-tell img {
    object-fit: contain;
    height: 100%;
    display: block;
}

.header-access-pc p {
    color: white;
    padding-left: 40px;
    font-size: 13px;
    line-height: 1.3em;
    display: block;
}

.header-tell img:hover {
    transition: 0.8s;
    opacity: 0.4;
}



/* 
=====================
本文
=====================
*/
main {
    max-width: 960px;
    padding: 0 30px;
    margin: 0 auto;
}

/* タイトル１ */
.title1 {
    margin: 0 auto;
    font-size: 28px;
    width: 100%;
    height: auto;
    background-color: #f9d4e6;
    border-bottom: 5px solid#BE0F60;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    line-height: 1.2em;
}

/* タイトル２ */
.title2 {
    margin: 0 auto;
    font-size: 25px;
    width: 100%;
    height: auto;
    color:#BE0F60;
    border-bottom: 1px solid#BE0F60;
    border-left: 10px solid#BE0F60;
    padding: 10px 0;
    padding-left: 20px;
    line-height: 1.2em;
}

/* タイトル３ */
.title3 {
    /* font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900; */
    margin: 0 auto;
    font-size: 28px;
    width: 100%;
    color:#D5006C;
    text-align: center;
    line-height: 1.2em;
    letter-spacing: 0.2em;
}

.title3 span {
    /* font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900; */
    margin: 0 auto;
    font-size: 30px;
    width: 100%;
    color:#D5006C;
    text-align: center;
    line-height: 1.2em;
}


/* お客様の声 */

.content1 {
    max-width: 710px;
    padding-top: 30px;
    margin: 0 auto;
}

.content1 .title3 {
    padding-top: 20px;
    text-align: left;
    width: auto;
    margin: 0;
}

.voice-title {
    display: flex;
}

.voice-title img {
    height: 100%;
    padding-top: 20px;
}

/* 改行なし（PC向け）：表示 */
.voice-content-pc {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 改行あり（スマホ向け）：隠す */
.voice-content {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* 左側：写真 */
.voice-content-pc img {
    width: 15%;
    object-fit: contain;
}

/* 右側：説明 */
.life-about {
    width: 80%;
}

.life {
    display: block;
    padding-top: 20px;
    text-align: center;
}

.life p {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4em;
}

.life p span {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #D5006C;
}

.meal {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.breakfast, .dinner {
    width: 48%;
    border-radius: 15px;
    position: relative;
}


.breakfast {
    background-color: #fcf9ac;
}

.breakfast p, .dinner p {
    padding: 15px 10px;
    padding-left: 30px;
    line-height: 1.4em;
    font-size: 13px;
}

.breakfast h5, .dinner h5 {
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: -12px;
    padding: 6px;
    font-size: 20px;
}

.breakfast h5 {
    background-color: #fef22a;
    border: 1px solid #fef22a;
}

.dinner {
    background-color: #d4e4f1;
}

.dinner h5 {
    background-color: #1c2087;
    color: white;
    border: 1px solid #1c2087;
}

.meal-img {
    text-align: center;
    padding-top: 30px;
}

.meal-img img {
    width: 100%;
    max-height: 230px;
    object-fit: contain;
}



/* 若さと健康を維持、、、 */

.content2 {
    max-width: 710px;
    padding-top: 50px;
    margin: 0 auto;
}

.content2 .p5 {
    display: block;
    background-color: #e7f6fd;
    font-size: 23px;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    letter-spacing: 0.1em;
    line-height: 1.4em;
}


/* 連絡先 */
.main-access {
    max-width: 710px;
    height: 200px;
    margin: 40px auto;
    position: relative;
    /* background-image: url("../images/flame.png");
    background-size: cover; */
}

.main-access img {
    width: 100%;
    height: 200px;
}

.access-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin: auto;
}

.main-access .p6 {
    font-family: 'Noto Serif JP', serif;
    width: 90%;
    display: block;
    height: auto;
    padding: 10px 0;
    background-color: #701a3f;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}

.main-access .p6 span {
    font-size: 20px;
    padding-left: 24px;
}

.main-tell {
    text-align: center;
    height: 60px;
    margin-top: 5px;
}

.main-tell img {
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.main-tell a {
    transition: 0.4s;
}

.main-tell a:hover {
    opacity: 0.4;
    transition: 0.4s;
}

.main-access .p7 {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: right;
    font-size: 18px;
    padding-top: 10px;
}





/* 
=====================
フッター
=====================
*/
footer {
    height: 180px;
    /* background:linear-gradient(90deg, #530710,#8b0000, #9c0743, #c71585, #c71585, #9c0743,#8b0000, #530710); */
    background-image: url(../../images/bkgcolor2.png);
    background-size: cover;
    background-position: center;
}

.footer-content {
    display: flex;
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}

/* 左側 */
.footer-access {
    text-align: center;
    width: 35%;
    margin: 0 auto;
}

/* ロゴ */
.footer-logo img {
    padding-top: 20px;
    width: 75%;
}

.footer-logo p {
    font-family: 'Old Standard TT', serif;
    color: white;
    font-size: 16px;
}

.footer-logo a {
    transition: 0.4s;
}

.footer-logo img:hover {
    opacity: 0.4;
    transition: 0.4s;
}

/* 連絡先 */
.footer-tell {
    line-height: 1.5em;
}
.footer-tell h3 {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

.footer-tell a {
    font-size: 22px;
    color: white;
    transition: 0.4s;
}

.footer-tell a:hover {
    transition: 0.4s;
    text-decoration: underline;
}

.footer-tell p {
    font-size: 16px;
    color: white;
}

/* メニュー */
/* PC用表示 */
.footer-menue-pc {
    display: block;
    width: 65%;
    padding-top: 20px;
    margin: 0 auto;
}

/* スマホ用は隠す */
.footer-menue {
    display: none;
}

.footer-menue-pc ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-menue-pc li {
    width: 40%;
    line-height: 1.6em;
    padding: 2px;
}

.footer-menue-pc .border {
    display: block;
    width: 200px;
    border-bottom: 1px dotted white;
    margin: 0 auto;
}

.footer-menue-pc .non-border {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.footer-menue-pc a {
    display: block;
    width: 200px;
    color: white;
    font-size: 14px;
    transition: 0.2s;
}

.footer-menue-pc a:hover {
    opacity: 0.5;
}

.footer-menue-pc .non-border {
    display: block;
    width: 185px;
    margin: 0 auto;
}


.footer-menue-pc .border {
    display: block;
    width: 185px;
    border-bottom: 1px dotted white;
    margin: 0 auto;
}

.footer-menue-pc a {
    display: block;
    width: 185px;
    color: white;
    font-size: 14px;
    transition: 0.2s;
}


/* 
====================================================================================
文字サイズ縮小　PC～タブレット向け
====================================================================================
*/

@media screen and (max-width:1024px ) {

/* 
=====================
ヘッダー
=====================
*/
header {
    height: 80px;
}

.header-content {
    padding: 0 20px;
    height: 80px;
    width: 100%;
    max-width: 600px;
}

.header-access-pc h1 {
    font-size: 16px;
}


.header-access-pc p {
    font-size: 10px;
    padding-left: 0;
}


/* 
=====================
本文
=====================
*/

/* 本文全体 */
.content1, .content2 {
    max-width: 550px;
} 

.main-access {
    max-width: 550px;
}

/* タイトル１ */
.title1 {
    font-size: 20px;
    height: auto;
    padding-top: 10px;
}

/* タイトル２ */
.title2 {
    font-size: 21px;
    height: auto;
    padding-left: 10px;
}

/* タイトル３ */
.title3 {
    font-size: 24px;
    letter-spacing: 0.1em;
}

.title3 span {
    font-size: 26px;
}

/* お客様の声 */

.life p {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4em;
}

.life p span {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #e64296;
}

.meal {
    padding-top: 10px;
}

.breakfast h5, .dinner h5 {
    font-size: 13px;
}

.breakfast p, .dinner p {
    font-size: 11px;
    padding: 10px 3px;
    padding-left: 15px;

}

.content2 .p5 {
    font-size: 22px;
}

/* 連絡先 */

.access-content img {
    max-height: 65px;
    object-fit: contain;
}

.main-access .p6 {
    font-size: 14px;    
}

.main-access .p6 span {
    font-size: 15px;    
}

.main-access .p7 {
    padding-top: 5px;
    font-size: 18px;
} 

/* 
=====================
フッター
=====================
*/
footer {
    height: 150px;
    width: 100%;
}

.footer-content {
    max-width: 600px;
}

/* 左側 */
.footer-access {
    width: 45%;
}

/* ロゴ */
.footer-logo p {
    font-size: 12px;
}

/* 連絡先 */

.footer-tell h3 {
    font-size: 13px;

}

.footer-tell a {
    font-size: 13px;

}

.footer-tell p {
    font-size: 10px;

}

/* 右側：メニュー */
.footer-menue-pc {
    padding-top: 10px;
}
.footer-menue-pc .non-border {
    width: 140px;
}


.footer-menue-pc .border {
    width: 140px;
}

.footer-menue-pc a {
    width: 140px;
    font-size: 9px;
}



}




/* 
====================================================================================
横並び→縦並び　スマホ向け
====================================================================================
*/

@media screen and (max-width:600px ) {

/* 
=====================
ヘッダー
=====================
*/
header {
    height: 80px;
}

.header-content {
    padding: 0 20px;
    height: 80px;
    width: 95%;
    margin: 0 auto;
}

.header-log {
    width: 30%;
}

.header-access-pc {
    display: none;
}

.header-access {
    width: 50%;
    display: block;
    float: right;
    text-align: center;
}

.header-access p {
    color: white;
    line-height: 1.3em;
    font-size: 10px;
}

.header-access h1 {
    font-size: 12px;
    width: 100%;
    color: white;
    font-weight: normal;
    padding-bottom: 5px;
}
.header-tell {
    display: block;
}

.header-tell img {
    padding: 0 20px;
    width: 100%;
}



/* 
=====================
本文
=====================
*/

/* タイトル１ */
.title1 {
    font-size: 15px;
    height: auto;
    padding-top: 10px;
}

/* タイトル２ */
.title2 {
    font-size: 15px;
    height: auto;
    padding-left: 10px;
}


/* タイトル３ */
.title3 {
    font-size: 15px;
    letter-spacing: 0;
}

.title3 span {
    font-size: 15px;
    letter-spacing: 0;
}

/* 本文全体 */
.content1, .content2 {
    max-width: 400px;
} 

.main-access {
    max-width: 400px;
}


/* お客様の声 */
.voice-title {
    justify-content: center;
}

.voice-title img {
    padding-top: 10px;
}

.voice-content-pc {
    display: none;
}

.voice-content {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

/* 左側：写真 */
.voice-content img {
    width: 30%;
    object-fit: contain;
    max-height: 80px;
    padding-right: 20px;
}

/* 右側：説明 */
.life-about {
    width: auto;
}

.life {
    padding-top: 0;
}

.life p {
    font-size: 13px;
}

.life p span {
    font-size: 13px;
}
.meal {
    display: block;
}

.breakfast, .dinner {
    width: 100%;
    margin: 20px auto;
}

.breakfast p, .dinner p {
    font-size: 12px;
    padding: 10px 15px;
}


/* 若さと健康を維持、、、 */


.content2 .p5 {
    font-size: 14px;
}



/* 連絡先 */
.main-access {
    height: auto;
}

.main-access .flame {
    height: 140px;
    margin: 0 auto;
}

.access-content {
    height: auto;
    padding-bottom: 10px;
}

.access-content img {
    max-height: 30px;
    object-fit: contain;
}

.main-access .p6 {
    font-size: 12px;    
    line-height: 1.4em;
    padding: 5px 20px;
    display: block;
}

.main-access .p6 span {
    font-size: 15px;    
    display: block;
    padding-left: 0;
}

.main-tell {
    height: auto;
}

.main-access .p7 {
    padding-top: 5px;
    font-size: 12px;
    max-width: 400px;
    margin: 0 auto;
}


/* 
=====================
フッター
=====================
*/
footer {
    height: 270px;
    width: 100%;
}

/* 左側 */
.footer-access {
    width: 45%;
}

/* ロゴ */
.footer-logo p {
    font-size: 12px;
}

/* 連絡先 */

.footer-tell h3 {
    font-size: 10px;

}

.footer-tell a {
    font-size: 16px;

}

.footer-tell p {
    font-size: 10px;

}

/* PC用は隠す */
.footer-menue-pc {
    display: none;
}

/* スマホ用表示 */
.footer-menue {
    display: block;
    width: 60%;
    padding-top: 15px;
    margin: 0 auto;
}

.footer-menue li {
    width: 80%;
    margin: 0 auto;
    line-height: 1.4em;
    padding: 2px;
}

.footer-menue .border {
    display: block;
    width: 200px;
    border-bottom: 1px dotted white;
    margin: 0 auto;
}

.footer-menue .non-border {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.footer-menue a {
    display: block;
    width: 200px;
    color: white;
    font-size: 12px;
    transition: 0.2s;
}

.footer-menue a:hover {
    opacity: 0.5;
}

/* スマホ用メニュー */
.footer-menue {
    width: 50%;
}

.footer-menue li {
    width: 99%;
}

.footer-menue .border {
    width: 145px;
}

.footer-menue .non-border {
    width: 145px;
}

.footer-menue a {
    width: 145px;
    font-size: 11px;
}


}