@charset "UTF-8";

/* 
=====================
基本設定
=====================
*/

* {
    outline: none!important;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

p {
    color: #333;
    font-size: 14px;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}


ul, li {
    list-style-type: none;
    font-size: 18px;
}


/* 
=====================
ヘッダー
=====================
*/

header {
    height: 100px;
    /* background:linear-gradient(90deg, #530710,#8b0000, #9c0743, #c71585, #c71585, #9c0743,#8b0000, #530710); */
    background-image: url(../../images/bkgcolor.png);
    background-size: cover;
    background-position: center;
}

.header-content {
    max-width: 810px;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-log {
    width: 30%;
}

.header-log img {
    width: 100%;
    object-fit: contain;
}

.header-access {
    display: none;
}


.header-access-pc h1 {
    font-size: 20px;
    color: white;
    font-weight: normal;
    padding: 5px 0;
}


.header-tell {
    display: flex;
}

.header-tell a {
    transition: 0.4s;
}

.header-tell img {
    object-fit: contain;
    height: 100%;
    display: block;
}

.header-access-pc p {
    color: white;
    padding-left: 40px;
    font-size: 13px;
    line-height: 1.3em;
    display: block;
}

.header-tell img:hover {
    transition: 0.8s;
    opacity: 0.4;
}



/* 
=====================
本文
=====================
*/
main {
    max-width: 960px;
    padding: 0 30px;
    margin: 0 auto;
}

/* タイトル１ */
.title1 {
    margin: 0 auto;
    font-size: 28px;
    width: 100%;
    height: auto;
    background-color: #f9d4e6;
    border-bottom: 5px solid #e663a4;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    line-height: 1.2em;
}


/* 特定商取引法 */

.content1-pc {
    max-width: 710px;
    padding-top: 30px;
    margin: 0 auto;
}

.content1 {
    max-width: 710px;
    padding-top: 30px;
    margin: 0 auto;
    display: none;
}

table {
    width: 100%;
    margin: 20px auto 50px auto;
}

th, td {
    border: 1px solid #333;
    line-height: 1.5em;
    vertical-align: middle;
}

th {
    width: 30%;
    font-weight: normal;
    font-size: 19px;
    background-color: #fcebf3;
    padding: 20px 5px;
}

td {
    width: 70%;
    font-size: 18px;
    padding: 20px;
}


/* 
=====================
フッター
=====================
*/
footer {
    height: 180px;
    /* background:linear-gradient(90deg, #530710,#8b0000, #9c0743, #c71585, #c71585, #9c0743,#8b0000, #530710); */
    background-image: url(../../images/bkgcolor2.png);
    background-size: cover;
    background-position: center;
}

.footer-content {
    display: flex;
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}

/* 左側 */
.footer-access {
    text-align: center;
    width: 35%;
    margin: 0 auto;
}

/* ロゴ */
.footer-logo img {
    padding-top: 20px;
    width: 75%;
}

.footer-logo p {
    font-family: 'Old Standard TT', serif;
    color: white;
    font-size: 16px;
}

.footer-logo a {
    transition: 0.4s;
}

.footer-logo img:hover {
    opacity: 0.4;
    transition: 0.4s;
}

/* 連絡先 */
.footer-tell {
    line-height: 1.5em;
}
.footer-tell h3 {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

.footer-tell a {
    font-size: 22px;
    color: white;
    transition: 0.4s;
}

.footer-tell a:hover {
    transition: 0.4s;
    text-decoration: underline;
}

.footer-tell p {
    font-size: 16px;
    color: white;
}

/* メニュー */
/* PC用表示 */
.footer-menue-pc {
    display: block;
    width: 65%;
    padding-top: 20px;
    margin: 0 auto;
}

/* スマホ用は隠す */
.footer-menue {
    display: none;
}

.footer-menue-pc ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-menue-pc li {
    width: 40%;
    line-height: 1.6em;
    padding: 2px;
}

.footer-menue-pc .border {
    display: block;
    width: 200px;
    border-bottom: 1px dotted white;
    margin: 0 auto;
}

.footer-menue-pc .non-border {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.footer-menue-pc a {
    display: block;
    width: 200px;
    color: white;
    font-size: 14px;
    transition: 0.2s;
}

.footer-menue-pc a:hover {
    opacity: 0.5;
}

.footer-menue-pc .non-border {
    display: block;
    width: 185px;
    margin: 0 auto;
}


.footer-menue-pc .border {
    display: block;
    width: 185px;
    border-bottom: 1px dotted white;
    margin: 0 auto;
}

.footer-menue-pc a {
    display: block;
    width: 185px;
    color: white;
    font-size: 14px;
    transition: 0.2s;
}



/* 
====================================================================================
文字サイズ縮小　PC～タブレット向け
====================================================================================
*/

@media screen and (max-width:1024px ) {

/* 
=====================
ヘッダー
=====================
*/
header {
    height: 80px;
}

.header-content {
    padding: 0 20px;
    height: 80px;
    width: 100%;
    max-width: 600px;
}

.header-access-pc h1 {
    font-size: 16px;
}


.header-access-pc p {
    font-size: 10px;
    padding-left: 0;
}


/* 
=====================
本文
=====================
*/

/* 本文全体 */
.content1-pc, .content1 {
    max-width: 550px;
} 

/* タイトル１ */
.title1 {
    font-size: 20px;
    height: auto;
    padding-top: 10px;
}

/* 特定商取引法 */


th {
    font-size: 14px;
}

td {
    font-size: 13px;
}


/* 
=====================
フッター
=====================
*/
footer {
    height: 150px;
    width: 100%;
}

.footer-content {
    max-width: 600px;
}

/* 左側 */
.footer-access {
    width: 45%;
}

/* ロゴ */
.footer-logo p {
    font-size: 12px;
}

/* 連絡先 */

.footer-tell h3 {
    font-size: 13px;

}

.footer-tell a {
    font-size: 13px;

}

.footer-tell p {
    font-size: 10px;

}

/* 右側：メニュー */
.footer-menue-pc {
    padding-top: 10px;
}
.footer-menue-pc .non-border {
    width: 140px;
}


.footer-menue-pc .border {
    width: 140px;
}

.footer-menue-pc a {
    width: 140px;
    font-size: 9px;
}



}




/* 
====================================================================================
横並び→縦並び　スマホ向け
====================================================================================
*/

@media screen and (max-width:600px ) {

/* 
=====================
ヘッダー
=====================
*/
header {
    height: 80px;
}

.header-content {
    padding: 0 20px;
    height: 80px;
    width: 95%;
    margin: 0 auto;
}

.header-log {
    width: 30%;
}

.header-access-pc {
    display: none;
}

.header-access {
    width: 50%;
    display: block;
    float: right;
    text-align: center;
}

.header-access p {
    color: white;
    line-height: 1.3em;
    font-size: 10px;
}

.header-access h1 {
    font-size: 12px;
    width: 100%;
    color: white;
    font-weight: normal;
    padding-bottom: 5px;
}
.header-tell {
    display: block;
}

.header-tell img {
    padding: 0 20px;
    width: 100%;
}




/* 
=====================
本文
=====================
*/
/* タイトル１ */
.title1 {
    font-size: 15px;
    height: auto;
    padding-top: 10px;
}

/* 本文全体 */
.content1-pc, .content1 {
    max-width: 400px;
} 

/* 特定商取引法 */

.content1-pc {
    display: none;
}

.content1 {
    display: block;
}

th, td {
    display: block;
    width: 100%;
    border-top: none;
    /* font-size: 14px; */
    padding: 10px 15px;
}


tr:first-child {
    border-top: 1px solid #333;
}


/* 
=====================
フッター
=====================
*/
footer {
    height: 270px;
    width: 100%;
}

/* 左側 */
.footer-access {
    width: 45%;
}

/* ロゴ */
.footer-logo p {
    font-size: 12px;
}

/* 連絡先 */

.footer-tell h3 {
    font-size: 10px;

}

.footer-tell a {
    font-size: 16px;

}

.footer-tell p {
    font-size: 10px;

}

/* PC用は隠す */
.footer-menue-pc {
    display: none;
}

/* スマホ用表示 */
.footer-menue {
    display: block;
    width: 60%;
    padding-top: 15px;
    margin: 0 auto;
}

.footer-menue li {
    width: 80%;
    margin: 0 auto;
    line-height: 1.4em;
    padding: 2px;
}

.footer-menue .border {
    display: block;
    width: 200px;
    border-bottom: 1px dotted white;
    margin: 0 auto;
}

.footer-menue .non-border {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.footer-menue a {
    display: block;
    width: 200px;
    color: white;
    font-size: 12px;
    transition: 0.2s;
}

.footer-menue a:hover {
    opacity: 0.5;
}

/* スマホ用メニュー */
.footer-menue {
    width: 50%;
}

.footer-menue li {
    width: 99%;
}

.footer-menue .border {
    width: 145px;
}

.footer-menue .non-border {
    width: 145px;
}

.footer-menue a {
    width: 145px;
    font-size: 11px;
}


}